$normal-font: 'Poppins', sans-serif
$japanese-font: 'Noto Serif JP', serif
$very-big-font: 34px
$big-font: 32px
$medium-font: 16px
$small-font: 10px
$dark-color: #0c084c
$main-color: #096386

body
    font-family: $normal-font
    position: relative
    margin: 0
    height: 100vh

h1
    color: $main-color

p
    color: grey

.transitionCurtain
    width: 95vw
    height: 95vh
    top: 0
    left: 0
    position: absolute
    background-color: white
    transition: opacity 0.8s
    &.opacityAppear
        opacity: 1
    &.opacityDisappear
        opacity: 0


.skewRight
    position: absolute
    top: 0
    left: 0
    height: 600px
    width: 100vw
    background-color: $dark-color
    transform: skewY(-30deg) translateY(-350px)
    z-index: -1

.skewContainer
    position: absolute
    top: 0
    left: 0
    height: 100vh
    width: 100%
    overflow: hidden
    z-index: -1

.skewLeft
    position: absolute
    top: 0
    right: 0
    height: 350px
    width: 100vw
    background-color: $main-color
    transform: skewY(30deg) translateY(-300px)
    z-index: -2

.mainPageContent
    margin: 0 50px
    display: flex
    flex-direction: row-reverse
    @media(max-width: 700px)
        display: block

.leftColumn
    width: 40vw
    position: fixed
    top: 0
    left: 50px
    @media(max-width: 700px)
        position: static
        width: 100%
    .leftColumnContent
        height: 100vh
        display: flex
        flex-direction: column
        justify-content: space-evenly
        @media(max-width: 700px)
            flex-direction: column-reverse
    p
        text-align: justify

.rightColumn
    flex-basis: 50%
    align-self: flex-end
    @media(max-width: 700px)
        width: 100%    


    

.menu
    list-style: none
    margin: 0
    padding: 0
    display: grid
    grid-template-columns: 50fr 50fr
    grid-gap: 10px
    li
        border: 1px solid $main-color
        cursor: pointer
        padding: 10px
        background-color: $main-color
        &:hover
            background-color: $dark-color
    a
        color: white
        text-decoration: none

.show
    display: block

.hide
    display: none
