$normal-font: 'Poppins', sans-serif
$japanese-font: 'Noto Serif JP', serif
$very-big-font: 34px
$big-font: 32px
$medium-font: 16px
$small-font: 10px
$dark-color: #0c084c
$main-color: #096386

body
    font-family: $normal-font
    position: relative
    margin: 0
    height: 100vh

h1
    color: $main-color

p
    color: grey

.transitionCurtain
    width: 95vw
    height: 95vh
    top: 0
    left: 0
    position: absolute
    background-color: white
    transition: opacity 0.8s
    &.opacityAppear
        opacity: 1
    &.opacityDisappear
        opacity: 0

.mainPage
    position: relative

.skewRight
    position: absolute
    top: 0
    left: 0
    height: 600px
    width: 100vw
    background-color: $dark-color
    transform: skewY(-30deg) translateY(-300px)
    z-index: -1

.skewLeft
    position: absolute
    top: 0
    right: 0
    height: 350px
    width: 100vw
    background-color: $main-color
    transform: skewY(30deg) translateY(-300px)
    z-index: -2

.mainPageContent
    color: black
    margin: 0 50px
    display: grid
    grid-template-columns: 50fr 50fr
    grid-column-gap: 50px
    @media(max-width: 700px)

.leftColumn
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-evenly
    @media(max-width: 700px)
        grid-column: 1 / span 2
        flex-direction: column-reverse
    p
        text-align: justify

.rightColumn
    background-color: rgba(255,255,255,0.3)
    padding: 20px
    border-top: 1px solid $dark-color
    border-left: 1px solid $dark-color
    border-bottom: 1px solid $main-color
    border-right: 1px solid $main-color
    align-self: center
    height: 80vh
    overflow: scroll
    @media(max-width: 700px)
        grid-column: 1 / span 2
        padding: 0
        border: none
        height: 100%
        overflow: auto

.menu
    list-style: none
    margin: 0
    padding: 0
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    li
        border: 1px solid $main-color
        cursor: pointer
        width: 170px
        padding: 10px
        margin: 5px 0
        background-color: $main-color
        &:hover
            background-color: $dark-color
    a
        color: white
        text-decoration: none

.show
    display: block

.hide
    display: none
